<div>
  <img src="/assets/profile-pic.webp" alt="个人头像" />
  <p>
    你好,我是<strong>博主</strong>。我是一名热爱技术的开发者。 你可以在 <a
      href="https://www.twitter.com/Charca"
      target="_blank">Twitter</a
    > 上关注我, 在 <a href="https://www.github.com/Charca" target="_blank"
      >GitHub</a
    > 上查看我的作品, 或者访问<a
      href="https://www.maxiferreira.com"
      target="_blank">我的网站</a
    >了解更多。
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
